@{
    ViewData["Title"] = "Passo a Passo para Jogar GTA V";
}

<h1>Passo a Passo para Jogar GTA V</h1>

<ol>
    <li>
        <strong>Passo 1:</strong> Inicie o jogo e escolha seu personagem.
        <p>Abra o GTA V e siga as instruções na tela para selecionar o personagem com o qual você deseja começar.</p>
    </li>
    <li>
        <strong>Passo 2:</strong> Complete as missões iniciais para desbloquear mais partes do mapa.
        <p>As primeiras missões são essenciais para desbloquear áreas importantes do mapa. Siga as instruções e complete essas missões.</p>
    </li>
    <li>
        <strong>Passo 3:</strong> Explore a cidade e participe de atividades para ganhar dinheiro e reputação.
        <p>Explore Los Santos e participe de diversas atividades, como corridas, assaltos, e muito mais, para ganhar dinheiro e aumentar sua reputação.</p>
    </li>
    <li>
        <strong>Passo 4:</strong> Compre armas e veículos para facilitar suas missões.
        <p>Utilize o dinheiro ganho para comprar armas e veículos que irão ajudar nas missões e em sua proteção.</p>
    </li>
    <li>
        <strong>Passo 5:</strong> Prossiga com as missões principais e secundárias para avançar na história.
        <p>Continue seguindo as missões principais para avançar na história do jogo, e não se esqueça de completar as missões secundárias para obter recompensas adicionais.</p>
    </li>
</ol>

<p>Aproveite o jogo e explore todas as possibilidades que GTA V oferece!</p>