<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="magic-navbar">
            <img src="~/imgs/HavenGames1.PNG" alt="Logo" />
            <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="magic-menu" id="magicMenu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">Sobre nós</a></li>
                <li><a asp-area="" asp-controller="Jogos" asp-action="Index">Jogos</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Guide">Guias e Dicas</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Comment">Comentários</a></li>
                <li><a asp-area="" asp-controller="Events" asp-action="Index">Eventos</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas</a></li>
                <div class="btn-group">
                    <button type="button" class="btn-menu dropdown-toggle text-uppercase fs-3" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <i class="fas fa-gamepad" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end w-100 fs-4 text-uppercase">
                        <li><partial name="_LoginPartial" /></li>
                    </ul>
                </div>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3 mainwrapper">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HavenGames.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @section Scripts {
        <script src="~/js/hamburgerresponsivemenu.js"></script>
    }
</body>
</html>
