<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HavenGames.App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="~/js/theme-toggle.js" defer></script>
</head>
<body>
    <header>

        <nav class="magic-navbar">

            <ul class="magic-menu">
                <img src="~/imgs/HavenGames1.PNG" alt="Alternate Text" />

                <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">Sobre nós</a></li>
                <li><a asp-area="" asp-controller="Jogos" asp-action="Index">Jogos</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contato</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas</a></li>
                <li><a asp-area="" asp-controller="Tickets" asp-action="Index">Ingressos</a></li>


                <partial name="_LoginPartial" />
                <a class="fas fa-gamepad" aria-hidden="true"></a>

            </ul>
        </nav>
       
    <div class="container">
        <main role="main" class="pb-3 mainwrapper">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HavenGames.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>

    
  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
