.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 6rem 5rem auto 5rem;
    grid-template-columns: 20% auto 20%;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .grid {
        grid-template-rows: 6rem 6rem 6rem auto 6rem 6rem;
        grid-template-columns: 1fr;
    }

    aside, main {
        grid-column: 1 / 4;
    }
}

body {
    background-color: #faf9f9;
    font-family: Space Grotesk;
}


h2 {
    color: #343a40;
    margin-bottom: 20px;
}

h3 {
    font-family: Bebas Neue;
    letter-spacing: 2px;
    word-spacing: 4px;
}

h5 {
    color: #000;
    margin-bottom: 20px;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
}

h4 {
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    color: #000;
    line-height: 1.6;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: justify;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: justify;
}

.outer-box {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 15px #52b69a;
}

.inner-box {
    width: 100%;
    height: auto;
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #000;
}

    .inner-box img {
        width: 100px;
        height: auto;
        border-radius: 4px;
    }

.box-container {
    margin-bottom: 20px;
}

.title {
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.card {
    box-shadow: 1px 1px 15px #52b69a;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    flex: 1;
    width: 100%;
    max-width: 350px;
}

    .card img {
        width: 100px;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    .card p {
        padding: 10px;
    }

.col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-box {
    flex: 1;
    width: 100%;
    max-width: none;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.btn-glass {
    background: linear-gradient(145deg, #52b69a, #184e77);
    border: 2px solid #b5e48c;
    border-radius: 6px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    backdrop-filter: blur(15px);
    text-align: center;
    width: 150px;
    max-width: 100%;
    margin: 0 auto;
    font-family: Space Grotesk;
}

    .btn-glass::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        z-index: -1;
        transition: all 0.3s ease;
    }

    .btn-glass:hover {
        background: linear-gradient(145deg, #52b69a, #76c893);
        border-color: #d9ed92;
        transform: scale(1.03);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

        .btn-glass:hover::before {
            background: rgba(255, 255, 255, 0.2);
            transform: scale(1.05);
        }

.equipe {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    bottom: 10px;
}

.textbox {
    color: antiquewhite;
}

.name {
    color: antiquewhite;
}

carousel-back {
    background-image: url('../imgs/background/BGPhoto10.PNG');
}
