.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 6rem 5rem auto 5rem;
    grid-template-columns: 20% auto 20%;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .grid {
        grid-template-rows: 6rem 6rem 6rem auto 6rem 6rem;
        grid-template-columns: 1fr;
    }

    aside, main {
        grid-column: 1 / 4;
    }
}

h1 {
    font-family: Bebas Neue;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
}

h5 {
    font-family: Bebas Neue;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
}


h4 {
    font-family: Bebas Neue;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
}

p {
    color: #000; 
    line-height: 1.6;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: justify;
}


.textbox {
    color: #e9edc9;
}

.username {
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 2px;
    font-weight: bold;
    color: #22577a;
    text-shadow: 1px 1px 15px #52b69a;
}

.date {
    font-family: Bebas Neue;
    letter-spacing: 4px;
    color: #22577a;
    text-shadow: 1px 1px 15px #52b69a;
}