@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte para telas menores */
    }

    h4 {
        font-size: 1.25rem; /* Ajusta o tamanho da fonte para telas menores */
    }

    .btn-cab {
        font-size: 0.875rem; /* Ajusta o tamanho da fonte para botões */
    }

    .card-title {
        font-size: 1rem; /* Ajusta o tamanho da fonte para o título do cartão */
    }

    h3 {
        font-size: 1.25rem; /* Ajusta o tamanho da fonte para h3 */
    }
}

body {
    background-color: #f8f9fa; /* Cor de fundo leve */
    font-family: Space Grotesk;
}

h2 {
    color: #343a40; /* Cor escura para o título */
    margin-bottom: 20px;
}

h3 {
    font-family: Bebas Neue;
    letter-spacing: 2px;
    word-spacing: 4px;
}

h5 {
    color: #000; /* Cor preta para o subtítulo */
    margin-bottom: 20px;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-top: 15px;
}

p {
    color: #000; /* Cor do texto do parágrafo */
    line-height: 1.6;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: justify;
}



.btn-glass {
    background: linear-gradient(145deg, #52b69a, #184e77);
    border: 2px solid #b5e48c;
    border-radius: 6px; /* Diminuído para bordas mais suaves */
    color: #fff;
    font-size: 0.8rem; /* Diminuído para texto menor */
    font-weight: 400;
    padding: 0.4rem 0.8rem; /* Diminuído para menos espaçamento interno */
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Diminuído para sombra mais sutil */
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    backdrop-filter: blur(15px);
    text-align: center;
    width: 150px; /* Largura fixa, ajuste conforme necessário */
    max-width: 100%;
    margin: 0 auto;
    font-family: Space Grotesk;
}

    .btn-glass::before {
        content: '';
        position: absolute;
        top: -4px; /* Ajustado para a borda externa menor */
        left: -4px; /* Ajustado para a borda externa menor */
        width: calc(100% + 8px); /* Ajustado para a borda externa menor */
        height: calc(100% + 8px); /* Ajustado para a borda externa menor */
        border-radius: 8px; /* Diminuído para combinar com o border-radius do botão */
        background: rgba(255, 255, 255, 0.1);
        z-index: -1;
        transition: all 0.3s ease;
    }

    .btn-glass:hover {
        background: linear-gradient(145deg, #52b69a, #76c893);
        border-color: #d9ed92;
        transform: scale(1.03); /* Diminuído para uma escala de transformação mais sutil */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Ajustado para uma sombra mais sutil */
    }

        .btn-glass:hover::before {
            background: rgba(255, 255, 255, 0.2);
            transform: scale(1.05); /* Ajustado para uma escala de transformação mais sutil */
        }
.form-group{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.card-box {
    display: flow;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px #52b69a;
    
}

