.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 6rem 5rem auto 5rem;
    grid-template-columns: 20% auto 20%;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .grid {
        grid-template-rows: 6rem 6rem 6rem auto 6rem 6rem;
        grid-template-columns: 1fr;
    }

    aside, main {
        grid-column: 1 / 4;
    }
}

h1 {
    font-family: Bebas Neue;
    letter-spacing: 4px;
    color: black;
}

h4 {
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}

p {
    color: #000; 
    line-height: 1.6;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align:center;
}

body {
    background-image: url('../imgs/background/BGPhoto10.PNG');
    /*background-repeat: no-repeat;*/
}

.img-event {
    width: 400%;
    height: 180px;
}

.card-body, .img-event {
    width: 292px;
    box-shadow: 1px 1px 10px #52b69a;
}

.card-title{
    display:flex;
    justify-content:center;
}


.btn-glass {
    background: linear-gradient(145deg, #52b69a, #184e77);
    border: 2px solid #b5e48c;
    border-radius: 5px;
    backdrop-filter: blur(15px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
    color: #fff;
    display: block;
    font-size: 0.8rem; 
    font-weight: 400;
    font-family: Space Grotesk;
    letter-spacing: 1px;
    max-width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    padding: 8px 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

    .btn-glass::before {
        content: '';
        position: absolute;
        top: -4px; 
        left: -4px; 
        width: calc(100% + 8px); 
        height: calc(100% + 8px); 
        border-radius: 8px; 
        background: rgba(255, 255, 255, 0.1);
        z-index: -1;
        transition: all 0.3s ease;
    }

    .btn-glass:hover {
        background: linear-gradient(145deg, #52b69a, #76c893);
        border-color: #d9ed92;
        transform: scale(1.03); 
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
        background-color: #0056b3;
    }

        .btn-glass:hover::before {
            background: rgba(255, 255, 255, 0.2);
            transform: scale(1.05); 
        }

    .btn-glass a {
        color: white;
        text-decoration: none;
    }
