@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte para telas menores */
    }

    h4 {
        font-size: 1.25rem; /* Ajusta o tamanho da fonte para telas menores */
    }

    .btn-cab {
        font-size: 0.875rem; /* Ajusta o tamanho da fonte para botões */
    }

    .card-title {
        font-size: 1rem; /* Ajusta o tamanho da fonte para o título do cartão */
    }

    h3 {
        font-size: 1.25rem; /* Ajusta o tamanho da fonte para h3 */
    }
}
