.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 6rem 5rem auto 5rem;
    grid-template-columns: 20% auto 20%;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .grid {
        grid-template-rows: 6rem 6rem 6rem auto 6rem 6rem;
        grid-template-columns: 1fr;
    }

    aside, main {
        grid-column: 1 / 4;
    }
}

h1 {
    font-family: Bebas Neue;
    letter-spacing: 4px;
    color: black;
}

h4 {
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}

h2 {
    font-family: Bebas Neue;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}
p {
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}

.card-body {
    box-shadow: 1px 1px 15px #52b69a;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.comments-toggle{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding: 8px;
    border:  1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.comments-toggle:hover{
    background-color: bold;

}

.comments {
    margin-top: 16px;
    padding-left: 16px;
    border-left: 2px solid #ccc;
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}

.toggle-arrow{
    font-weight: bold;
}
