@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte para telas menores */
    }

    h4 {
        font-size: 1.25rem; /* Ajusta o tamanho da fonte para telas menores */
    }

    .btn-cab {
        font-size: 0.875rem; /* Ajusta o tamanho da fonte para botões */
    }

    .card-title {
        font-size: 1rem; /* Ajusta o tamanho da fonte para o título do cartão */
    }

    h3 {
        font-size: 1.25rem; /* Ajusta o tamanho da fonte para h3 */
    }

}
body {
    margin-bottom: 60px;
    background-color: white;
    font-family: Arial, sans-serif; /* Define uma fonte padrão para o corpo */
}

h1 {
    font-family: Bebas Neue;
    letter-spacing: 4px;
    color: black;
}

h4 {
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}

h2 {
    font-family: Bebas Neue;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}
p {
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}

.card-body {
    box-shadow: 1px 1px 15px #52b69a;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.comments-toggle{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding: 8px;
    border:  1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.comments-toggle:hover{
    background-color: bold;

}

.comments {
    margin-top: 16px;
    padding-left: 16px;
    border-left: 2px solid #ccc;
    font-family: Space Grotesk;
    letter-spacing: 4px;
    word-spacing: 4px;
    color: black;
}

.toggle-arrow{
    font-weight: bold;
}