@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
    color: #000000;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.magic-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.magic-menu li {
    font-family: Bebas Neue;
    position: relative;
    margin: 0 15px;
}
.magic-navbar {
    font-family: Bebas Neue;
    background-color: #ffffff;
    border-color: #e7e7e7;
    color: #000000;
    justify-content: center;
    display: flex;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 5px;
}

.magic-menu a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: color 0.3s, transform 0.3s;
    display: block;
    text-transform: uppercase;
}

.magic-menu a::after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     height: 3px;
     width: 100%;
     background-color: #ff4081;
     transform: scaleX(0);
     transform-origin: bottom right;
     transition: transform 0.3s;
}
.magic-menu a:hover {
      color: #ff4081;
      transform: translateY(-3px);
}

.magic-menu a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
}

.form-control {
    font-family: Space Grotesk;
}
.fas {
    font-family: Space Grotesk;
}

.footer {
    background-color: #ffffff;
    color: #000000;
}
.social-buttons {
    color: #8B008B;
    margin: 5px;
    font-size: 28px;
}

.social-buttons a {
    color: #8B008B;
    text-decoration: none;
    margin: 10px;
}

.social-buttons:hover a {
     opacity: 0.3;
     transition: 0.5s;
}

.social-buttons:hover a:hover {
     opacity: 1;
     transition: 0.5s;
}
.nav-link{
    display: grid;
    grid-template-columns:minmax(100px, 1fr)
}
