.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #000;
        transition: all 0.3s;
    }

@media (max-width: 768px) {
    .magic-navbar {
        justify-content: space-between;
        padding: 1rem;
    }

    .magic-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .magic-menu.active {
            display: flex;
        }

    .hamburger {
        display: flex;
    }

    .magic-menu li {
        margin: 10px 0;
        text-align: center;
    }
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body {
    background: url("~/imgs/Background/BGPhoto01.PNG") repeat;
    margin-bottom: 60px;
    background-color: #ffffff;
    color: #000000;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.magic-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.magic-menu li {
    font-family: Bebas Neue;
    position: relative;
    margin: 0 15px;
}
.magic-navbar {
    font-family: Bebas Neue;
    background-color: #ffff;
    border-color: #76c893;
    color: #000000;
    justify-content: center;
    display: flex;
    padding: 1rem;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 5px;
}


.mainwrapper{
margin: 50px;
}

.magic-menu a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: color 0.3s, transform 0.3s;
    display: block;
    text-transform: uppercase;
}

    .magic-menu a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #00a896;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
    }
    .magic-menu a:hover {
        color: #00a896;
        transform: translateY(-3px);
    }

.magic-menu a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
}

.form-control {
    font-family: Space Grotesk;
}
.fas {
    font-family: Space Grotesk;
}

.footer {
    background-color: #ffffff;
    color: #000000;
}

.nav-link{
    display: grid;
    grid-template-columns:minmax(100px, 1fr)
}

.fas:hover {
    color: #028090;
}
.btn-menu {
    border: none;
    background-color: #ffff;
}
.dropdown-menu{
    border:none;
}