@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Excluir dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true" />
</head>
<body>

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Excluindo estes dados sua conta será deletada de forma permanente, e esta ação não poderá ser desfeita.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Entre com sua senha." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn-glass btn-lg btn-danger" type="submit">Deletar meus dados e conta.</button>
    </form>
</div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
