@{
    ViewData["Title"] = "Red Dead Redemption 2";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/GuidesDescription.css" asp-append-version="true" />
</head>
<div class="btn-glass">
<a asp-area="" asp-controller="Home" asp-action="Guide"> Voltar </a>
</div>
<br />

<h1>Guia Completo: Red Dead Redemption 2</h1>

<p><strong>Red Dead Redemption 2</strong> é um jogo de ação e aventura no Velho Oeste, desenvolvido pela Rockstar Games. O jogo destaca-se por seu mundo aberto detalhado e narrativa envolvente.</p>

<h2>Introdução ao Jogo</h2>
<p>Você joga como Arthur Morgan, um membro da gangue Van der Linde, enquanto explora um vasto mundo aberto e enfrenta uma série de desafios em sua jornada pelo Velho Oeste.</p>

<h2>Controles Básicos</h2>
<ul>
    <li><strong>Movimentação:</strong> WASD (PC) / Left Stick (Console)</li>
    <li><strong>Atirar:</strong> Mouse Left Click (PC) / Right Trigger (Console)</li>
    <li><strong>Montar:</strong> E (PC) / Square (Console)</li>
    <li><strong>Interagir:</strong> E (PC) / Square (Console)</li>
    <li><strong>Missão:</strong> M (PC) / Start Button (Console)</li>
</ul>

<h2>Dicas e Estratégias</h2>
<ul>
    <li><strong>Missões:</strong> Complete as missões principais e secundárias para avançar na história e explorar o mundo.</li>
    <li><strong>Caça e Coleta:</strong> Utilize a caça e coleta para ganhar dinheiro e melhorar seus recursos.</li>
    <li><strong>Honra:</strong> Gerencie sua honra e suas ações, pois elas afetam a narrativa e a reação dos NPCs.</li>
    <li><strong>Condicoes Climáticas:</strong> Esteja atento às mudanças climáticas que podem afetar suas atividades e missões.</li>
</ul>

<h2>Missões e Atividades Secundárias</h2>
<p>O jogo oferece várias atividades além da história principal:</p>
<ul>
    <li><strong>Caça:</strong> Caçar animais para obter recursos e completar desafios.</li>
    <li><strong>Pesca:</strong> Pesque em diversos corpos d'água para obter recursos adicionais.</li>
    <li><strong>Desafios:</strong> Complete desafios diários e semanais para ganhar recompensas.</li>
</ul>

<h2>Recursos Adicionais</h2>
<p>Para informações detalhadas, consulte tutoriais online e a comunidade de jogadores.</p>
