@{
    ViewData["Title"] = "The Elder Scrolls V: Skyrim";
}
<link rel="stylesheet" href="~/css/GuidesDescription.css" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="buttons">
    <a class="btn-glass" asp-area="" asp-controller="Home" asp-action="Guide"> Voltar </a>
    <a class="btn-glass" asp-area="" asp-controller="Home" asp-action="Index"> Página Inicial </a>

</div>
<br />
<h1>Guia Completo: The Elder Scrolls V: Skyrim</h1>

<p><strong>The Elder Scrolls V: Skyrim</strong> é um RPG de ação e aventura em mundo aberto desenvolvido pela Bethesda. O jogo se passa na província de Skyrim e oferece uma vasta gama de missões e exploração.</p>

<h2>Introdução ao Jogo</h2>
<p>Como Dragonborn, você tem a missão de salvar Skyrim da ameaça dos dragões e explorar um mundo repleto de missões e histórias secundárias.</p>

<h2>Controles Básicos</h2>
<ul>
    <li><strong>Movimentação:</strong> WASD (PC) / Left Stick (Console)</li>
    <li><strong>Atacar:</strong> Mouse Left Click (PC) / Right Trigger (Console)</li>
    <li><strong>Magia:</strong> Q (PC) / Left Bumper (Console)</li>
    <li><strong>Inventário:</strong> Tab (PC) / Back Button (Console)</li>
    <li><strong>Interagir:</strong> E (PC) / A (Console)</li>
</ul>

<h2>Dicas e Estratégias</h2>
<ul>
    <li><strong>Exploração:</strong> Explore o mundo aberto para encontrar segredos, quests e itens valiosos.</li>
    <li><strong>Desenvolvimento de Personagem:</strong> Customize suas habilidades e escolha o caminho que melhor se adapta ao seu estilo de jogo.</li>
    <li><strong>Crafting:</strong> Utilize o sistema de crafting para criar e melhorar armas, armaduras e poções.</li>
    <li><strong>Missões:</strong> Complete as quests principais e secundárias para desbloquear novos conteúdos e melhorar sua experiência.</li>
</ul>

<h2>Missões e Atividades Secundárias</h2>
<p>Além das missões principais, Skyrim oferece:</p>
<ul>
    <li><strong>Guildas:</strong> Junte-se a guildas como os Companheiros, a Irmandade dos Ladrões e a Academia dos Magos.</li>
    <li><strong>Coletáveis:</strong> Encontre e colete itens valiosos e livros.</li>
    <li><strong>Desafios:</strong> Complete desafios e conquistas para ganhar recompensas especiais.</li>
</ul>

<h2>Recursos Adicionais</h2>
<p>Consulte fóruns e tutoriais online para estratégias avançadas e dicas adicionais.</p>
