@{
    ViewData["Title"] = "The Order: 1886";
}

<link rel="stylesheet" href="~/css/GuidesDescription.css" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="buttons">
    <a class="btn-glass" asp-area="" asp-controller="Home" asp-action="Guide"> Voltar </a>
    <a class="btn-glass"  asp-area="" asp-controller="Home" asp-action="Index"> Página Inicial </a>

</div>

<br />


<h1>Guia Completo: The Order: 1886</h1>

<p><strong>The Order: 1886</strong> é um jogo de ação e aventura desenvolvido pela Ready at Dawn, ambientado em uma Londres vitoriana alternativa repleta de mistérios e tecnologias avançadas.</p>

<h2>Introdução ao Jogo</h2>
<p>No jogo, você assume o papel de um membro da Ordem dos Cavaleiros, lutando contra uma ameaça sobrenatural enquanto explora uma Londres do século XIX.</p>

<h2>Controles Básicos</h2>
<ul>
    <li><strong>Movimentação:</strong> WASD (PC) / Left Stick (Console)</li>
    <li><strong>Atirar:</strong> Mouse Left Click (PC) / Right Trigger (Console)</li>
    <li><strong>Cobertura:</strong> Q (PC) / L1 (Console)</li>
    <li><strong>Interagir:</strong> E (PC) / Square (Console)</li>
    <li><strong>Menu:</strong> M (PC) / Start Button (Console)</li>
</ul>

<h2>Dicas e Estratégias</h2>
<ul>
    <li><strong>Combate:</strong> Use a variedade de armas e gadgets disponíveis para enfrentar inimigos em combate.</li>
    <li><strong>Exploração:</strong> Explore Londres para descobrir segredos e histórias adicionais.</li>
    <li><strong>Cobertura:</strong> Utilize a cobertura para proteger-se durante os combates intensos.</li>
    <li><strong>História:</strong> Siga a narrativa principal para entender melhor o enredo e os personagens.</li>
</ul>

<h2>Missões e Atividades Secundárias</h2>
<p>O jogo é focado na narrativa principal, mas oferece:</p>
<ul>
    <li><strong>Exploração de Ambientes:</strong> Descubra detalhes ocultos e itens colecionáveis.</li>
    <li><strong>História:</strong> Aprofunde-se na história e nos personagens através das missões e diálogos.</li>
    <li><strong>Desafios:</strong> Enfrente desafios e tarefas opcionais para desbloquear recompensas.</li>
</ul>

<h2>Recursos Adicionais</h2>

<p>Confira análises e guias detalhados online para obter mais informações e dicas sobre o jogo.</p>

