@model IEnumerable<HavenGames.Business.Models.Comment>

<h2>Comentários</h2>

<ul>
    @foreach (var comentario in Model)
    {
        <li>
            <p><strong>@comentario.Nome:</strong> @comentario.Descricao</p>
            <p><em>@comentario.Inclusao</em></p>
            <form asp-action="DeleteComment" method="post" onsubmit="return confirm('Tem certeza que deseja excluir este comentário?');">
                <input type="hidden" name="id" value="@comentario.Id" />
                <button type="submit" class="btn-glass btn">Excluir</button>
            </form>
        </li>
    }
</ul>
