@model IEnumerable<HavenGames.Business.Models.Comment>

<h2>Comentários</h2>

<ul>
    @foreach (var comentario in Model)
    {
        <li>
            <p><strong>@comentario.Nome:</strong> @comentario.Descricao</p>
            <p><em>@comentario.Inclusao</em></p>
        </li>
    }
</ul>

