@{
    ViewData["Title"] = "Eventos";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Events.css" asp-append-version="true" />
</head>
<div class="container mt-5">
    <figure class="myBackground">
        <h1 class="display-4 text-center">Eventos épicos</h1>
        <p class="sub-title lead text-center">Os mehores eventos esperam por vocês!</p>
        <div class="row mt-4">
            <div class="col-md-5">
                <div class="card mb-4">
                    <h3>TORNEIO DE FORTNITE</h3>
                    <img src="~/imgs/Fortinite.PNG" class="card-img-top" alt="fortinite">
                    <div class="card-body">
                        <p class="card-text">
                            Participe do maior torneio de Fortinite do ano e mostre suas habilidades!
                            Competidores de todo o país se encontrarão para uma batalha épica. Prêmios incriveise muita diversão esperam por você dia 07/09/2024 ás 16:00!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mb-4">
                    <h3>GAMEZONE!</h3>
                    <img src="~/imgs/GameZone.PNG" class="card-img-top" alt="gamezone">
                    <div class="card-body">
                        <p class="card-text">
                            Venha explorar o universo dos jogos na Gamezone! Este festival é uma experiência imersiva com torneios ao vivo,
                            palestras de especialistas da indústria e demonstrações exclusivas dos lançamentos mais aguardados. <a href="https://www.naaayrafaela.com">Clique aqui</a> e garanta seu ingresso.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mb-4">
                    <h3>LANÇAMENTO DE GAME!</h3>
                    <img src="~/imgs/POP.PNG" class="card-img-top" alt="LançamentoGame">
                    <div class="card-body">
                        <p class="card-text">
                            Venha participar do lançamento do novo game <strong>Prince of Persia: The Lost Crown</strong> que está chegando trazendo de volta a magia e a ação que você ama.
                            Junte-se a nós a seja um dos primeiros a explorar essa aventura inesquecível!Evento online no link abaixo, em 22/09/2024 a partir das 15:00. <br /><a href="https://www.naaayrafaela.com">Clique no link e participe</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mb-4">
                    <h3>MEETUP DE DESENVOLVEDORES E GAME DESING</h3>
                    <img src="~/imgs/GameDesign.PNG" class="card-img-top" alt="GameDesing">
                    <div class="card-body">
                        <p class="card-text">
                            Você é apaixonado(a) em criar mundos e contar histórias através dos jogos? Então não perca o nosso <strong>Meetup de Game Design!</strong> Este evento é a oportunidade
                            </strong>. Clique e se inscreva.
                            <br />
                            <a href="#" class="btn-glass">Clique aqui</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card mb-4">
                    <h3>ANIME FRIENDS</h3>
                    <img src="~/imgs/ECOS.PNG" class="card-img-top" alt="The Last of Us">
                    <div class="card-body">
                        <p class="card-text">
                            Anime Friends é um dos maiores eventos do Brasil direcionados a animês, mangás e cultura japonesa em geral.
                            Ingressos à venda! De 18 a 21 de julho de 2024 no Distrito Anhembi em São Paulo.<a href="https://www.naaayrafaela.com">Clique aqui</a> e garanta seu ingresso.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>
</html>








