@{
    ViewData["Title"] = "Guias";
}

<link rel="stylesheet" href="~/css/Guide.css" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="container mt-5">
    <h1 class="display-4 text-center">Guias e Tutoriais</h1>
    <p class="sub-title lead text-center">Explore nossos guias e tutoriais detalhados sobre jogos, ferramentas e técnicas.</p>

   
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/GGTA.PNG" class="card-img-top" alt="GTAV">
                <div class="card-body">
                    <h5 class="card-title">Como Jogar GTAV</h5>
                    <p class="card-text">Aprenda os fundamentos básicos e técnicas essenciais para dominar o mundo de Los Santos.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Guide" asp-action="GTAV">Leia Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/GTO1886.PNG" class="card-img-top" alt="The Order">
                <div class="card-body">
                    <h5 class="card-title">Como Jogar The Order 1886 </h5>
                    <p class="card-text">Explore as técnicas e estratégias para enfrentar as ameaças sobrenaturais em Londres.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Guide" asp-action="TheOrder">Leia Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/GACRED.PNG" class="card-img-top" alt="Assassin's Creed">
                <div class="card-body">
                    <h5 class="card-title">Como Jogar Assassin's Creed</h5>
                    <p class="card-text">Dicas e truques para se tornar um mestre assassino em várias épocas e locais.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Guide" asp-action="AssassinCreed">Leia Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/GRDD2.PNG" class="card-img-top" alt="Red Dead Redemption II">
                <div class="card-body">
                    <h5 class="card-title">Como Jogar Red Dead Redemption II</h5>
                    <p class="card-text">Descubra as melhores práticas para sobreviver e prosperar no Velho Oeste.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Guide" asp-action="ReadDead">Leia Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/imgs/GTLOU1.PNG" class="card-img-top" alt="The Last of Us">
                <div class="card-body">
                    <h5 class="card-title">Como Jogar The Last of Us</h5>
                    <p class="card-text">Táticas e estratégias para sobreviver em um mundo pós-apocalíptico.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Guide" asp-action="TheLastOfUs">Leia Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow 1px 1px 20px #ADFF2F">
                <img src="~/imgs/GTESVS.PNG" class="card-img-top" alt="The Elder Scrolls V: Skyrim">
                <div class="card-body">
                    <h5 class="card-title">Como Jogar The Elder Scrolls V: Skyrim</h5>
                    <p class="card-text">Guias e dicas para explorar e conquistar o vasto mundo de Skyrim.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Guide" asp-action="TheElder">Leia Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

