@{
    ViewData["Title"] = "Privacy";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Privacity.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-4">
        <h1>Política de Privacidade</h1>
        <p>Última atualização: 09/09/2024</p>
        <p>
            Bem-vindo ao nosso blog de jogos. A sua privacidade é importante para nós.
            Esta política de privacidade explica quais informações pessoais coletamos e como as usamos.
        </p>
        <div class="card">
            <h2>Informações que coletamos</h2>
            <p>
                Coletamos informações que você nos fornece diretamente, como quando você cria uma conta, participa de fóruns de discussão, ou nos envia um e-mail.
            </p>
        </div>
        <div class="card">
            <h2>Como usamos as informações</h2>
            <p>
                Usamos as informações coletadas para fornecer, manter e melhorar nossos serviços,
                como entender melhor como nossos usuários interagem com o blog e desenvolver novos conteúdos e funcionalidades.
            </p>
        </div>
        <div class="card">
            <h2>Compartilhamento de informações</h2>
            <p>
                Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário para cumprir a lei,
                proteger nossos direitos, ou fornecer e melhorar nossos serviços.
            </p>
        </div>
        <div class="card">
            <h2>Segurança</h2>
            <p>
                Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, uso ou divulgação.
            </p>
        </div>
        <div class="card">
            <h2>Alterações a esta Política</h2>
            <p>
                Podemos atualizar esta política de privacidade periodicamente. Notificaremos sobre quaisquer mudanças, publicando a nova política no blog.
            </p>
        </div>
        <div class="card">
            <h2>Contato</h2>
            <p>
                Se você tiver alguma dúvida sobre esta política de privacidade, entre em contato conosco em privacidade@havengames.com.
            </p>
        </div>
    </div>
</body>
