@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ForgotPage.css" asp-append-version="true" />
</head>
<body>


<h2>@ViewData["Title"]</h2>
    
    <div class="menu">
        <h6 class="dig-email">Digite seu e-mail.</h6>
        <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn-glass btn-lg btn-primary">Resetar senha</button>
        </form>
    </div>
</div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
